{% extends 'base.html' %}

{% load static %}

{% block title %}Volunteerism | about us{% endblock title %}

{% block content %}
    <div class="container">
        <h1>About us</h1>

        <div class="row">
            <div class="col-sm">
                <h3>Ahmet Ucar</h3>
                <em>First-year computer science student at the University of Washington</em> <br /> <br />
                <a href="https://www.linkedin.com/in/ahmet-ucar/">
                    <i class="fab fa-linkedin"></i> LinkedIn: ahmet-ucar
                </a>
                <br />
                <a href="https://github.com/AhmetUcar/">
                    <i class="fab fa-github-square"></i> GitHub: AhmetUcar
                </a>
                <br />
                <a href="mailto: acucar@cs.washington.edu">
                    <i class="fas fa-envelope-square"></i> Email: acucar@cs.washington.edu
                </a>
            </div>
            <div class="col-sm">
                <img src="{% static 'images/ahmet.jpg' %}" style ="height: 220px" />
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-sm">
                <h3>Albert Zhong</h3>
                <em>First-year computer science student at the University of Washington</em> <br /> <br />
                <a href="https://www.linkedin.com/in/albert-zhong/">
                    <i class="fab fa-linkedin"></i> LinkedIn: albert-zhong
                </a>
                <br />
                <a href="https://github.com/albert-zhong/">
                    <i class="fab fa-github-square"></i> GitHub: albert-zhong
                </a>
                <br />
                <a href="mailto: azhong@cs.washington.edu">
                    <i class="fas fa-envelope-square"></i> Email: azhong@cs.washington.edu
                </a>
            </div>
            <div class="col-sm">
                <img src="{% static 'images/albert.jpg' %}" style ="height: 220px" />
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-sm">
                <h3>Jeter Arellano</h3>
                <em>First-year computer science student at the University of Washington</em> <br /> <br />
                <a href="https://www.linkedin.com/in/jeterarellano/">
                    <i class="fab fa-linkedin"></i> LinkedIn: jeterarellano
                </a>
                <br />
                <a href="https://github.com/jeter1">
                    <i class="fab fa-github-square"></i> GitHub: jeter1
                </a>
                <br />
                <a href="mailto: jeter@cs.washington.edu">
                    <i class="fas fa-envelope-square"></i> Email: jeter@cs.washington.edu
                </a>
            </div>
            <div class="col-sm">
                <img src="{% static 'images/jeter.jpg' %}" style ="height: 220px" />
            </div>
        </div>
        
        <br />

        <div class="row">
            <div class="col-sm">
                <h3>Karman Singh</h3>
                <em>First-year computer science student at the University of Washington</em> <br /> <br />
                <a href="https://www.linkedin.com/in/singh-shubhkarman/">
                    <i class="fab fa-linkedin"></i> LinkedIn: singh-shubhkarman
                </a>
                <br />
                <a href="https://github.com/shubhkarmanSingh/">
                    <i class="fab fa-github-square"></i> GitHub: shubhkarmanSingh
                </a>
                <br />
                <a href="mailto: acucar@cs.washington.edu">
                    <i class="fas fa-envelope-square"></i> Email: shubhs2@cs.washington.edu
                </a>
            </div>
            <div class="col-sm">
                <img src="{% static 'images/karman.jpg' %}" style ="height: 220px" />
            </div>
        </div>
    </div>
{% endblock content %}
