{% extends 'base.html' %}

{% load static %}

{% block title %}Volunteerism{% endblock title %}

{% block content %}
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light" style="font-family: 'Kaushan Script', cursive; color: white;">Volunteerism</h1>
                <p class="lead" style="color: white;">Serving the needy in our community through organized volunteering events</p>
            </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            <h2 class="font-weight-light">About this website</h2>
            <p>
                Hello! Welcome to our web app called Volunteerism. We made this website for the DubHacks hackathon at the University of Washington. We started at around
                1:00 PM on Saturday (June 12, 2019) and finished at around 11:00 AM on Sunday (June 13, 2019). Our backend uses Python, Django, and PostgreSQL. Our frontend
                uses HTML, CSS, Bootstrap, and some JavaScript and jQuery. We made Volunteerism to allow users to create, join, and organize different volunteer events around
                their communities. We hope you enjoy!
            </p>
        </div>
    </section>

{% endblock content %}